{# Bootstrap modal, see http://getbootstrap.com/javascript/#modals #}
<div class="modal fade" id="confirmationModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Вы уверены, что хотите удалить эту запись?</h4>
                <p>Это действие не может быть отменено.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnNo" data-dismiss="modal">
                    Отменить
                </button>
                <button type="button" class="btn btn-danger" id="btnYes" data-dismiss="modal">
                    Удалить проект
                </button>
            </div>
        </div>
    </div>
</div>
