<form class="search-form" action="{{ path('task_search') }}" method="get">
    <input class="search-form__input" type="text" name="q" placeholder="Поиск по задачам" autocomplete="off">

    <input class="search-form__submit" type="submit" name="" value="Искать">
</form>