{% extends 'base.html.twig' %}

{% block title %}Домашняя{% endblock %}

{% block body_hat %}
    <body class="body-background">
{% endblock %}

{% block header %}
    {{ parent() }}

        <div class="main-header__side">
            <a class="main-header__side-item button button--transparent" href="{{ path('fos_user_security_login') }}">Войти</a>
        </div>
{% endblock %}

{% block main %}
        <section class="welcome">
            <h2 class="welcome__heading">«Дела в порядке»</h2>

            <div class="welcome__text">
                <p>«Дела в порядке» — это веб приложение для удобного ведения списка дел. Сервис помогает пользователям не забывать о предстоящих важных событиях и задачах.</p>

                <p>После создания аккаунта, пользователь может начать вносить свои дела, деля их по проектам и указывая сроки.</p>
            </div>

            <a class="welcome__button button" href="{{ path('fos_user_registration_register') }}">Зарегистрироваться</a>
        </section>
{% endblock %}

