{% extends 'layout.html.twig' %}

{% block title %}Редактировать проект{% endblock %}

{% block main %}
    <h2 class="content__main-heading">Редактировать проект</h2>
    {{ include('project/_project_form.html.twig') }}
{% endblock %}