{% extends 'layout.html.twig' %}

{% block title %}Добавить задачу{% endblock %}

{% block main %}
    <h2 class="content__main-heading">Добавить задачу</h2>
    {{ include('task/_task_form.html.twig') }}
{% endblock %}